* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1170px;
}

.form {
    display: grid;
    grid-row-gap: 10px;
}

.form__input {
    display: block;
    width: 100%;
}