@mixin cardStyle {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

@mixin inputStyle {
  display: block;
  width: 100%;
}

@mixin gridStyle {
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: min-content;
  align-content: start;
}