* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #999999;
  padding: 20px;
}

ul {
  list-style: none;
}

.filter__hide {
  display: none;
}

.show {
  display: -ms-grid;
  display: grid;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 0 auto;
  max-width: 1170px;
}

.form {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

.form__input {
  display: block;
  width: 100%;
}

.actions {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
}

.actions .filter {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

.actions .filter__btn {
  max-width: 100px;
}

.actions .sorting {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

.actions .sorting__radio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.actions .sorting__btn {
  max-width: 100px;
}

.shopping {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.shopping__list {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-row-gap: 1px;
  padding: 1px;
  background-color: #333;
}

.shopping__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px (1fr)[4] 70px;
      grid-template-columns: 40px repeat(4, 1fr) 70px;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-column-gap: 1px;
  background-color: transparent;
}

.shopping__item-cell {
  padding: 5px;
  text-align: center;
  background-color: #fff;
}

.shopping__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shopping__item-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.shopping__item-btn_content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 1px;
  background-color: #333;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.shopping__item-btn_content::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #333;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.shopping__item-btn:hover .shopping__item-btn_content,
.shopping__item-btn:hover .shopping__item-btn_content::after {
  height: 2px;
  background-color: #bb2c2c;
}
/*# sourceMappingURL=style.css.map */