@import "_mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #999999;
  padding: 20px;
}

ul {
  list-style: none;
}

.filter__hide {
  display: none;
}

.show {
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 0 auto;
  max-width: 1170px;
}

.form {
  @include cardStyle;
  @include gridStyle;

  &__input {
    @include inputStyle;
  }
}

.actions {
  @include cardStyle;
  display: grid;
  grid-row-gap: 20px;

  .filter {
    @include gridStyle;

    &__btn {
      max-width: 100px;
    }
  }

  .sorting {
    @include gridStyle;

    &__radio {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__btn {
      max-width: 100px;
    }
  }
}

.shopping {
  @include cardStyle;
  // min-width: 700px;
  grid-column: 1 / span 2;

  &__list {
    @include gridStyle;
    grid-row-gap: 1px;
    padding: 1px;
    background-color: #333;
  }

  &__item {
    display: grid;
    grid-template-columns: 40px repeat(4, 1fr) 70px;
    align-content: center;
    grid-column-gap: 1px;
    background-color: transparent;

    &-cell {
      padding: 5px;
      text-align: center;
      background-color: #fff;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border: none;
      background-color: #fff;

      &_content {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 1px;
        background-color: #333;
        transform: rotate(-45deg);

        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 1px;
          background-color: #333;
          transform: rotate(90deg);
        }
      }
    }
    &-btn:hover &-btn_content,
    &-btn:hover &-btn_content::after {
      height: 2px;
      background-color: #bb2c2c;
    }
  }
}
